* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

/* header */

header {
    width: 100%;
    height: 60vh;
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.top {
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    background-color: rgb(211, 205, 195);
    justify-content: space-between;

}

.top h4 {
    margin-left: 20px;
    color: white;
    text-transform: uppercase;
}

.top p {
    margin-right: 20px;

}

.top a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*Navigation*/

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

nav .logo {
    width: 25%;
    text-align: center;
}

nav .logo img {
    width: 70%;
    text-align: center;
    margin-top: 20px;
}

nav .menu {
    width: 40%;
}

nav .menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav .menu ul a {
    text-decoration: none;
    color: black;
}

nav .menu ul a:hover {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.btn button {
    border-radius: 100px;
    color: white;
    background-color: orange;
    width: 130px;
    height: 30px;
    box-shadow: 2px 3px 2px grey;
    font-size: 13px;
    margin-right: 20px;
}

.btn button:hover {
    background-color: red;
    color: black;

}

.content {
    width: 100%;
    height: 50vh;
    margin-top: 155px;
    justify-content: center center;
    text-align: center;
    font-size: 30px;
    color: white;
}

.content button {
    border-radius: 30px;
    background-color: rgb(14, 207, 241);
    color: black;
    font-weight: bold;
    width: 180px;
    height: 30px;
    margin-top: 20px;
}

.content button:hover {
    background-color: blue;
    color: white;

}

/*introduction*/

.intro {
    text-align: center;
    margin-top: 20px;
}

.Course-offer {
    width: 50%;
    height: 50px;
    display: flex;
    margin-top: 40px;
    margin-left: 300px;
    justify-content: space-between;
}

.course1 img {
    width: 250px;
    height: 200px;
    margin-right: 80px;
}
.course1 img:hover{
    box-shadow: 3px 2px 3px red;
}
.course2 img {
    width: 250px;
    height: 200px;
    margin-right: 70px;
}
.course2 img:hover{
    box-shadow: 3px 2px 3px red;
}
.course3 img {
    width: 250px;
    height: 200px;
    margin-right: 40px;
}
.course3 img:hover{
    box-shadow: 3px 2px 3px red;
}

.Course-offer1 {
    width: 50%;
    height: 50px;
    display: flex;
    margin-top: 250px;
    margin-left: 300px;
    justify-content: space-between;
}

.course4 img {
    width: 250px;
    height: 200px;
    margin-right: 80px;
}
.course4 img:hover{
    box-shadow: 3px 2px 3px red;
}
.course5 img {
    width: 250px;
    height: 200px;
    margin-right: 70px;
}

.course5 img:hover{
    box-shadow: 3px 2px 3px red;
}
.course6 img {
    width: 250px;
    height: 200px;
    margin-right: 40px;
}
.course6 img:hover{
    box-shadow: 3px 2px 3px red;
}
.footer {
    text-align: center;
    margin-top: 300px;
    display: flex;
    background-color: black;
    align-items: center center ;
    justify-content: space-between;

}

.foot1 {
    width: 250px;
    height: fit-content;
    margin-top: 20px;
    margin-left: 40px;
}

.foot1 img {
    width: 250px;
    margin-bottom: 30px;
}

.foot2 {
    width: 250px;
    margin-top: 80px;
    color: white;
    
}

.foot2 p a {

    color: white;
    margin-top: 0;

}

.foot3 {
    width: 250px;
    color: white;
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}

.foot3 ul li {
    list-style: none;
}

.foot3 ul li a {

    text-decoration: none;
    color: red;
}
.copyright{
    text-align: center;
    background-color: gray;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}